<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Phone Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="ion-padding">
      <ion-item class="margin-bottom">
        <ion-label position="floating">Email</ion-label>
        <ion-input  [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input  [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item class="margin-bottom">
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input  [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>

      <ion-button class="margin-bottom" expand="block" id="sign-in-button" (click)="signUp()">
         Poop
      </ion-button>
  </ion-card>
</ion-content>

