<ion-header>
  <ion-toolbar color="primary">
   
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
 
  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input
        placeholder="Email address"
        formControlName="email"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required" style="color: red;font-size: 10px;">Email is required</span>
      <span *ngIf="email.errors?.email" style="color: red;font-size: 10px;">Email is invalid</span>
    </div>
 
    <ion-item>
      <ion-input
      placeholder="Password"
      type="password"
      formControlName="password"
      clearInput="true"
    ></ion-input>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required" style="color: red;font-size: 10px;">Password is required</span>
      <span *ngIf="password.errors?.minlength" style="color: red;font-size: 10px;" >Password needs to be 6 characters</span>
    </div>
    <ion-item>
      <ion-input
      placeholder="Name"
      type="text"
      formControlName="name"
      clearInput="true"
    ></ion-input>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="name.errors?.required" style="color: red;font-size: 10px;">Password is required</span>
      <span *ngIf="name.errors?.minlength" style="color: red;font-size: 10px;" >Password needs to be 6 characters</span>
    </div>
  </form>
 
    <ion-button (click)="signUp()" expand="full">Sing up</ion-button>
    <ion-button (click)="signIn()" expand="full" color="secondary">Sing in</ion-button>
 
</ion-content>