<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{room_name}}</ion-title>
    <ion-icon *ngIf="checkOneToOne()" slot="end" (click)="goToSetting()" name="settings-outline" style="padding: 0 10px;font-size: 21px;"></ion-icon>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-infinite-scroll threshold="-50px" position="top" (ionInfinite)="loadData($event)"  >
    <ion-infinite-scroll-content loadingSpinner="bubbles" >

    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
    <ion-grid >
      <ion-row style="margin-top: 20px;" *ngFor="let message of messages | async">
        <ion-col size="10"
          [offset]="message.myMsg ? 2 : 0"
          > 
          <div class="message_card">
            <img [src]="message.profile" class="profile" alt="">
            <ion-card class="message" [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }" *ngIf="!message.msg.includes('data:image/jpeg;base64')">
              <b>{{ message.fromName }}</b><br>
              <span>{{ message.msg }}</span>
            </ion-card>
            <div class="message" [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }" *ngIf="message.msg.includes('data:image/jpeg;base64')">
              <img [src]="message.msg" alt="message photo">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
  <!-- <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea autoGrow="true" class="message-input" rows="1" maxLength="500" [(ngModel)]="newMsg" >
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''"
          class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar> -->
  <ion-item>
   
      <ion-icon  (click)="sendImage()" style="margin-right: 10px;" name="image-outline"></ion-icon>
    
    <ion-input  [(ngModel)]="newMsg"></ion-input>
    
    <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''"
          class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
  </ion-item>
</ion-footer>