<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{room_name}}</ion-title>
    <ion-icon *ngIf="checkOneToOne()" slot="end" (click)="goToSetting()" name="settings-outline" style="padding: 0 10px;font-size: 21px;"></ion-icon>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-infinite-scroll threshold="-50px" position="top" (ionInfinite)="loadData($event)"  >
    <ion-infinite-scroll-content loadingSpinner="bubbles" >

    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
    <ion-grid >
      <ion-row style="margin-top: 20px;" *ngFor="let message of messages | async">
        <ion-col size="10"
          [offset]="message.myMsg ? 2 : 0"
          > 
          <div class="message_card">
            <img *ngIf="!message.myMsg" [src]="message.profile" class="profile" alt="">
            <ion-card class="message" [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }" *ngIf="isSimpleMessage(message)">
              <div style="display: flex; justify-content: space-between;padding-bottom: 10px;">
                <b>{{ message.fromName }}</b> <span style="font-size: 9px;">{{calCurrentTime(message.createdAt)}}</span>
              </div>
              <span>{{ message.msg }}</span>
            </ion-card>
            <div class="message" [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }" *ngIf="message.msg.includes('data:image/jpeg;base64')">
              <img [src]="message.msg" alt="message photo">
            </div>
            <ion-card  class="message"   [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }" *ngIf="message.msg.includes('https://firebasestorage.googleapis.com')">
              
              <div *ngIf="message.metadata !== undefined">
                <div style="display: flex; justify-content: space-between;padding-bottom: 10px;">
                  <b style="font-size: 17px;">{{ message.metadata.name.slice(0,15)+"..." }}</b> <span style="font-size: 9px;">{{calCurrentTime(message.createdAt)}}</span>
                </div>
               
                <span>{{changeToMB(message.metadata.size)}} MB</span>  
              </div>
              <span (click)="downloadFile(message.msg, message.metadata)" [ngClass]="{ 'my-downloadLink': message.myMsg, 'downloadLink': !message.myMsg }" class="downloadLink">Download</span>
            </ion-card>
            <!-- progress bar -->
            
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 20px;" *ngIf="progressbar">
        <ion-col size="10" offset='2'>
          <ion-card  class="message my-message"  >
             
            <div >
              <div style="display: flex; justify-content: space-between;padding-bottom: 10px;">
                <b style="font-size: 17px;">{{ fileName}}</b> <span style="font-size: 9px;">a few second ago</span>
              </div>
             
              
            </div>
            <!-- <ion-progress-bar [value]="progressbar"></ion-progress-bar> -->
            <div style="display: flex;justify-content: center;">
              <circle-progress
              [percent]="progressbar"
              [radius]="40"
              [animation]="false"
              [titleColor]="'#fff'"
              [subtitleColor]="'#fff'"
              [unitsColor]="'#fff'"
            ></circle-progress>
            </div>
            
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
  <!-- <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea autoGrow="true" class="message-input" rows="1" maxLength="500" [(ngModel)]="newMsg" >
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''"
          class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar> -->
  <ion-item *ngIf="isFileopen==true">
    <input type="file" id="fileUpload" (change)="detectFiles($event)" multiple hidden>
    <label for="fileUpload" class="btn_upload" style="width: 55px;"><img src="assets/upload.png" style="width: 20px;height: 20px;" alt="upload"></label>
    <div *ngIf="isFileChoosen" class="btn_upload btn_design" style="width: -webkit-fill-available;display: flex;justify-content: space-around;">
      <ion-icon name="close-circle-outline" (click)="fileCancel()" class="file-cancel"></ion-icon>
      <ion-icon name="document-outline" class="file_icon"></ion-icon>
      <span>{{fileName}}</span>
    </div>
    
  </ion-item>
  <ion-item>
   
      <ion-icon  (click)="sendImage()" style="margin-right: 10px;" name="image-outline"></ion-icon>
      <ion-icon name="folder-outline" (click)="openFile()" style="margin-right: 10px;" ></ion-icon>
     

      <ion-input  [(ngModel)]="newMsg"></ion-input>
        <ion-button expand="block" fill="clear" color="primary" [disabled]="checkMsgEmpty()"
          class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
  </ion-item>
</ion-footer>