<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Private Chat</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="keyword" debounce="1500" (ionInput)="onSearch($event)" (ionCancel)="onCancel()" class="unicode">
  </ion-searchbar>
  <ion-item *ngIf="search_user" (click)="goToMessage(search_user)">
    <img [src]="search_user.profile" style="width: 40px;height: 40px;border-radius: 50%;margin: 15px 30px 15px 0;object-fit: cover;"  alt="user">
    <p>{{search_user.name}}</p>
  </ion-item>
  <ion-list *ngFor="let user of users |async" >
      <ion-item (click)="goToMessage(user)">
        <img [src]="user.profile" style="width: 40px;height: 40px;border-radius: 50%;margin: 15px 30px 15px 0;object-fit: cover;" alt="">
        <ion-badge color="primary" *ngIf="user.state=='online'">Active</ion-badge>
      <ion-badge color="danger" *ngIf="user.state=='offline'">Offline</ion-badge>
        
        {{user.name}}
      </ion-item>
      
  </ion-list>
  <!-- <ion-row *ngFor="let room of rooms | async">
    <ion-col size="12" class="ion-text-center"  (click)="goToMessage(room.id,room.name,room)" >
        <div class="profile_wrapper">
          <div *ngIf="isProfileDefault(room.profile)">
            <img src="assets/group.png" class="def_profile" alt="Default Profiole">
          </div>
          <div class="profile_txt">
            <p>{{room.name}}</p>
           <p style="font-size: 14px;"> {{room.desc}}</p>
          </div>
        </div>
    </ion-col>
  </ion-row> -->
</ion-content>